header{
    background-image: url(../images/header_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

nav{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.menu-container{
    width: 300px;
   float: right;

}

.menu-container>li{
display: inline-block;
margin: 12px;
list-style-type: none;

}

.menu-container>li>a{
     text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}


h1{
    text-align:center;
    font-size: 130px;
    margin:150px  0 0 0;;
    font-weight: bold;
    color: #ffffff;

}

.container {
  text-align: center;
}

.container>ul>li {
    
    display: inline-block;
   margin: 10px; 
   font-size:20px;
    font-weight:bold;
    color:white


}
