header {
    background-image: url("./images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
}

.nav-header {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    overflow: hidden;
}

.menu-container {
    margin: 0px;
    width: 300px;
    float: right;
}

.menu-container>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

.menu-container>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.schooled {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-top: 150px;
    letter-spacing: 10px;
}

.categories {
    width: 20%;
    margin: 50px auto;
        padding-left:90px;

}

.categories>li {
    color: #ffffff;
    font-weight: bold;
    list-style-type: none;
    width: 70px;
    display: inline-block;
}

.register {
    display: block;
    margin: 120px auto;
    background-color: #C271FF;
    padding: 15px;
    border-radius: 40px;
    border: 0px;
    color: #ffffff;
    font-weight: bold;
}

.learn {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 40px;
}

.purple {
    color: #C271FF;
}


.students {
    width: 80%;
    margin: 0 auto;
    padding-bottom:80px;

}

.student {
    width: 23%;
    display: inline-block;
}

.student>img {
    display: block;
    margin: 0 auto;
}

.student>h6 {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}

.student>p {
    color: #ffffff;
    font-size: 15px;
}

.student>h6,
.student>p {
    text-align: center;
}

.section1{
    background-color: #C271FF;

}

.weather-presenter{
    width: 60%;
    margin: 0px auto;
    padding: 80px;
    overflow:hidden;
}

.goni-container, .goni-image{
    float:left;
    padding:20px;
    
}
.goni-container{
    color:white;
    padding-top:20px;
    line-height:2;
}
.goni-container>h5{
    font-weight:bold;

}    
.goni-container>h5>span{
        font-style:italic;

}

.tutorials{
   
    width:80%;
    margin:0 auto;
}

.tutorials>h2{
    text-align: center;
    font-weight:bold;
    margin:100px;
    font-size:30px;
}

.smile{
    display: inline-block;
    width: 23%;
    
}

.diagonal>h4, .diagonal>p{
    width:80%;
    margin:10px auto;
}

.diagonal>h4{
    font-weight:bold;
}

.diagonal>p{
    color:#07162980;
}

.philip{
    
    width:80%;
    margin:0 auto;
    overflow:hidden;
    
}

.philip>img, .philip>span{
  float:left;
    
}


.philip>img{
    width:20%;
}

.philip>span{
 padding:12px;
    color:#C271FF
}

.star{
  overflow:hidden; 
    width:80%;
    margin:5px auto;
}

.star>ul{
    float:left;
    
}

.star>ul>li{
    display:inline-block;
    width:20px;
}

.star>span{
    float:right;
    color: #C271FF;
    padding-bottom: 100px;
}
.section3{
    background-color: #071629;
    padding-bottom: 5px;
   
}
.lorem-ipsum{
    width:80%;
    margin:0 auto;
    
}

.lorem-ipsum>h4{
    text-align: center;
    padding: 50px;
    font-weight:bold;
    color:#ffffff;
    font-size:25px;
}

.lorem{
    width:24%;
    display:inline-block;
}


.lorem>img{
    display:block;
    margin:0 auto;
}

.lorem>h4{
    text-align:center;
    padding:20px;
    color:#ffffff;
    font-weight:bold;
}

.lorem>p{
    text-align:center;
    line-height:1.3;
    color:#ffffff;
    font-size:13px;
}

.faq{
    width: 70%;
    margin:0 auto;
}

.faq>h2{
    text-align:center;
    padding:40px;
    font-weight:bold;
    font-size: 50px;
    
}

.faq-container{
    display:inline-block;
    width: 49%;
    
    }

.faq-container>h5, .faq-container>p{
    margin:30px 60px 30px 60px;
    
}
.faq-container>h5{
    
    font-weight:bold;
    }
.faq-container>p{

    color:#07162980;
    line-height: 1.5;
    
}



.container-footer{
    background-color: #071629;
    width:80%;
    margin:0 auto;
    padding-top: 50px;
    overflow:hidden;
}

.menu-container-footer{
    float:right;
}

.menu-container-footer{
    float:right;
    width:250px;
}

.menu-container-footer>li{
    display:inline-block;
    margin:5px;
    
}

.nav-footer{
   display:block;
    text-align: center;
    padding: 80px;
    color:#ffffff;
}

.footer{
    background-color: #071629;
}


.image-container{
    position: relative;
    

}

.play-icon{
    position: absolute;
     position: absolute;
     top: 50px ;
  left: 100px;
  
  
}
